<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.tedu.store.mapper.CartMapper">
	<insert id="insertCart" parameterType="cn.tedu.store.bean.Cart">
		insert into t_cart(
		uid,goods_id,num,
		created_user,created_time
		)values(
		#{uid}, #{goodsId}, #{num}, #{createdUser}, #{createdTime}
		)
	</insert>
	<!-- List<CartVo> selectByUid(Integer uid); -->
	<select id="selectByUid" resultType="cn.tedu.store.bean.CartVo">
		select
			t_cart.id id,
			uid,
			goods_id goodsId,
			t_cart.num num,
			image,title,price,
			t_cart.created_user createdUser,t_cart.created_time createdTime,
			t_cart.modified_time modifiedTime,	t_cart.modified_user modifiedUser
		from
			t_cart,t_goods
		where
			goods_id=t_goods.id
		and 
			uid=#{uid}
	</select>
	<!-- void deleteByIds(Integer[] ids); -->
	<delete id="deleteByIds">
		delete from t_cart where id in 
		<!--collection属性表示定义集合的类型，如果是数组那么写array item表示定义变量 open表示从什么地方开始，close表示什么地方结束，separator表示分隔符 -->
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<!-- void deleteById(Integer id); -->
	<delete id="deleteById">
		{call del(#{id})}
	</delete>
	<!--void updateById(Integer id,Integer num); -->
	<update id="updateById">
		{call upd(#{id},#{num})}
	</update>
</mapper>

		
	
	
	
	
	
	
	
	