<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.tedu.store.mapper.InstrumentsMapper">
	<select id="selinstruByName" resultType="java.util.Map" parameterType="java.lang.String"
	useCache="false" flushCache="true">
		select
		wii.id as id,
		wii.ins_name as insName,
		wii.ins_type as insType,
		wii.ins_specifications as insSpecifications,
		wii.ins_cost as insCost,
		wii.ins_qty as insQty,
		wii.ins_pricing as insPricing,
		wii.ins_qty as insQty,
		wii.ins_manufacturers as insManufacturers,
		wp.parts_name as insParts,
		wii.ins_remake as insRemake,
		date_format(wii.ins_updatetime,'%Y-%c-%d %H:%i:%S') AS insUpdatetime,
		date_format(wii.ins_createtime,'%Y-%c-%d %H:%i:%S') AS insCreatetime
		from
		w_instrument_information wii
		left join w_parts wp on wp.id=wii.ins_parts
		<where> 1=1
			<if test="insName!=null and insName!=''">
				AND wii.ins_name like CONCAT('%',#{insName},'%')
			</if>
			<if test="insTime1!=null and insTime1!=''">
				AND DATE_FORMAT(wii.ins_createtime , '%Y-%m-%d')&gt;=#{insTime1}
			</if>
			<if test="insTime2!=null and insTime2!=''">
				AND DATE_FORMAT(wii.ins_createtime , '%Y-%m-%d')&lt;=#{insTime2}
			</if>
		</where>
		group by id
	</select>
	<!-- 删除乐器 -->  
	<delete id="delMainInsById" parameterType="cn.tedu.store.bean.Instruments">  
		delete from w_instrument_information  where id= #{insid2}
	</delete> 
	<!-- 批量删除 -->
	<delete id="deletesById"  parameterType="java.util.List">
         delete from w_instrument_information where id in ( 
         <foreach collection="ids2" item="id" separator=",">
            #{id}
        </foreach>)
	</delete>
	<select id="queryinstruById" resultType="java.util.Map" parameterType="java.lang.Integer"
	useCache="false" flushCache="true">
		select
		wii.id as id,
		wii.ins_name as insName,
		wii.ins_specifications as insSpecifications,
		wii.ins_cost as insCost,
		wii.ins_qty as insQty,
		wii.ins_pricing as insPricing,
		wii.ins_manufacturers as insManufacturers,
		wp.parts_name as insParts,
		wii.ins_remake as insRemake
		from
		w_instrument_information wii
		left join w_parts wp on wp.id=wii.ins_parts
		where
		wii.id=#{ids2}
	</select>
	<update id="updateinfo" parameterType="cn.tedu.store.bean.Instruments">
		update
			w_instrument_information
		set
			ins_name =#{insName},
			ins_specifications=#{insSpecifications},
			ins_cost =#{insCost},
			ins_qty =#{insQty},
			ins_pricing =#{insPricing},
			ins_manufacturers =#{insManufacturers},
			ins_remake =#{insRemake},
			ins_updatetime=now()
		where
			id=#{id}
	</update>

</mapper>

		
	
	
	
	
	
	
	
	