<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.tedu.store.mapper.OutstockMapper">
	<select id="selectoutstockByName" resultType="java.util.Map"
		parameterType="java.lang.String" useCache="false" flushCache="true">
		select
		wo.id as id,
		wo.out_name as outName,
		wo.out_type as outType,
		wo.out_specifications as outSpecifications,
		wo.out_cost as outCost,
		wo.out_pricing as outPricing,
		wo.out_qty as outQty,
		wo.out_remain as
		outRemain,
		wo.out_profit as outProfit,
		wo.out_manufacturers as
		outManufacturers,
		wo.out_vip as outVip,
		date_format(wo.out_updatetime,'%Y-%c-%d %H:%i:%S') AS outUpdatetime,
		date_format(wo.out_createtime,'%Y-%c-%d %H:%i:%S') AS outCreatetime
		from
		w_outstock wo
		<where>
			1=1
			<if test="inName!=null and inName!=''">
				AND wo.out_name like CONCAT('%',#{inName},'%')
			</if>
			<if test="inTime1!=null and inTime1!=''">
				AND DATE_FORMAT(wo.out_updatetime ,
				'%Y-%m-%d')&gt;=#{inTime1}
			</if>
			<if test="inTime2!=null and inTime2!=''">
				AND DATE_FORMAT(wo.out_updatetime ,
				'%Y-%m-%d')&lt;=#{inTime2}
			</if>
		</where>
		group by id
	</select>
	<!-- 删除销售记录 -->
	<delete id="deloutstockById" parameterType="cn.tedu.store.bean.Outstock">
		delete from w_outstock where id= #{insid2}
	</delete>
	<!-- 批量删除记录 -->
	<delete id="deloutstockByIds" parameterType="java.util.List">
		delete from w_outstock where id in (
		<foreach collection="ids2" item="id" separator=",">
			#{id}
		</foreach>
		)
	</delete>

	<!-- 存到出库表 -->
	<insert id="addoutstock" parameterType="cn.tedu.store.bean.Outstock">
		insert into
		w_outstock
		(out_name,out_type,out_specifications,out_cost,out_pricing,
		out_qty,out_remain,out_profit,out_manufacturers,out_vip,out_updatetime,
		out_createtime
		)
		values(#{outName},#{outType},#{outSpecifications},#{outCost},#{outPricing},
		#{outQty},#{outRemain},#{outProfit},
		#{outManufacturers},#{outVip},now(),now())
	</insert>
	<select id="queryByName" parameterType="cn.tedu.store.bean.Outstock"
		resultType="java.util.Map">
		select
		id as id,
		ins_qty as insQty,
		ins_cost as insCost
		from
		w_instrument_information
		where
		ins_name=#{outName} and
		ins_specifications=#{outSpecifications} and
		ins_manufacturers=#{outManufacturers}
	</select>
	<select id="queryByName1" parameterType="cn.tedu.store.bean.Outstock"
		resultType="java.util.Map">
		select
		id as id,
		parts_qty as insQty,
		parts_cost as insCost
		from
		w_parts
		where
		parts_name=#{outName} and
		parts_specifications=#{outSpecifications} and
		parts_manufacturers=#{outManufacturers}
	</select>
	<update id="updatemaininfo" parameterType="cn.tedu.store.bean.Outstock">
		update
		w_instrument_information
		set
		ins_qty =#{OutRemain},
		ins_updatetime=now()
		where
		ins_name=#{outName}
	</update>
	<update id="updatepartinfo" parameterType="cn.tedu.store.bean.Outstock">
		update
		w_parts
		set
		parts_qty =#{OutRemain},
		parts_updatetime=now()
		where
		parts_name=#{outName}
	</update>
	
	
	
	<select id="queryvipinfo" parameterType="java.lang.String"
		resultType="java.lang.String">
		select
		vip_integral as integral
		from
		w_vip
		where
		vip_name=#{vipname} 
	</select>
	<update id="addvipoutstock" parameterType="java.lang.String">
		update
		w_vip
		set
		vip_integral =#{fenshu},
		vip_updatetime=now()
		where
		vip_name=#{vipname}
	</update>

	<select id="selectgoodsorname" parameterType="java.lang.String"
		resultType="java.util.Map">
		SELECT
		wii.id AS id,
		wii.ins_name AS outName,
		wii.ins_type AS outType,
		wii.ins_specifications AS outSpecifications,
		wii.ins_pricing AS outPricing,
		wii.ins_qty AS outQty,
		wii.ins_cost AS outCost,
		wii.ins_Manufacturers AS outManufacturers
		FROM
		w_instrument_information wii
		<where>
			1=1
			<if test="outName!=null and outName!=''">
				AND wii.ins_name  like CONCAT('%',#{outName},'%')
			</if>
		</where>
	
		UNION ALL
		
		SELECT
		wp.id AS id,
		wp.parts_name AS outName,
		wp.parts_type AS outType,
		wp.parts_specifications AS outSpecifications,
		wp.parts_pricing AS outPricing,
		wp.parts_qty AS outQty,
		wp.parts_cost AS outCost,
		wp.parts_Manufacturers AS outManufacturers
		FROM
		w_parts wp
		<where>
			1=1
			<if test="outName!=null and outName!=''">
				AND wp.parts_name  like CONCAT('%',#{outName},'%')
			</if>
		</where>
	</select>
</mapper>

		
	
	
	
	
	
	
	
	