<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.tedu.store.mapper.UserMapper">
 
	<!-- 插入用户信息 -->


	<!-- void insertUser(User user); -->


	<insert parameterType="cn.tedu.store.bean.User" id="insert">
		insert into
		w_user
		(u_username,u_password,u_phone,u_updatetime)
		values(#{username},#{password},#{phone},now())
	</insert>
	<select id="selectByUsername" resultType="cn.tedu.store.bean.User">
		select
		id as id,
		u_username as username,
		u_password as password,
		u_phone as phone,
		u_updatetime as created_user
		from
		w_user
		where
		u_username=#{username}
	</select>
	
	<select id="selectUserById" resultType="cn.tedu.store.bean.User">
		select
		id as id,
		u_username as username,
		u_password as password,
		u_phone as phone,
		u_updatetime as created_user
		from
		w_user
		where
		id=#{id}
	</select>
	<select id="selectByPhone" resultType="java.lang.Integer">
		select count(*)
		from
		w_user
		where
		u_phone=#{phone}
	</select>
	<update id="updateUser" parameterType="cn.tedu.store.bean.User">
		update
			w_user
		<set>
			<if test="password!=null">
				u_password=#{password},
			</if>
			<if test="username!=null">
				u_username=#{username},
			</if>			
			<if test="phone!=null">
				u_phone=#{phone},
			</if>
			<if test="modifiedTime!=null">
				u_updatetime=#{modifiedTime}
			</if>
		</set>
		where
			id=#{id}
	</update>
</mapper>

		
	
	
	
	
	
	
	
	