<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.tedu.store.mapper.UserMapper">
	<insert parameterType="cn.tedu.store.bean.User" id="insert">
		insert into
		w_user
		(u_username,u_password,u_phone,u_updatetime,u_email)
		values(#{username},#{password},#{phone},now(),#{email})
	</insert>
	<select id="selectByUsername" resultType="cn.tedu.store.bean.User">
		select
		id as id,
		u_username as username,
		u_password as password,
		u_phone as phone,
		u_updatetime as created_user
		from
		w_user
		where
		u_username=#{username}
	</select>
	<select id="selectByPhone" resultType="java.lang.Integer">
		select count(*)
		from
		w_user
		where
		u_phone=#{phone}
	</select>
	<select id="selectEmail" resultType="java.lang.Integer">
		select count(*)
		from
		w_user
		where
		u_email=#{email}
	</select>
	
	<update id="updateUser" parameterType="cn.tedu.store.bean.User">
		update
			w_user
		<set>
			<if test="password!=null">
				u_password=#{password},
			</if>
			<if test="username!=null">
				u_username=#{username},
			</if>			
			<if test="phone!=null">
				u_phone=#{phone},
			</if>
			<if test="modifiedTime!=null">
				u_updatetime=#{modifiedTime}
			</if>
		</set>
		where
			id=#{id}
	</update>
	<select id="queryoldPwd" resultType="java.lang.String" parameterType="java.lang.String">
		select
		u_password as password
		from
		w_user
		where
		u_username=#{username}
	</select>
	<update id="updateuserNwd" parameterType="java.lang.String">
		update
			w_user
		set u_password=#{newPwd}
		where
			u_username=#{username}
	</update>
	<insert parameterType="java.lang.String" id="addlogininfo">
		insert into
		w_logininfo
		(username,userip,city,remake,logintime)
		values(#{username},#{cip},#{cname},'登陆成功',now())
	</insert>
	<select id="queryuser" parameterType="java.lang.String" resultType="cn.tedu.store.bean.User">
		select
		id as id,
		u_username as username,
		u_password as password,
		u_phone as phone,
		u_email as email
		from
		w_user
		where
		u_email=#{email}
	</select>
</mapper>

		
	
	
	
	
	
	
	
	